<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheets" href="index.css">
  </head>
  <body>
    <header>
    </header>
    <h1>MoneyTask</h1>
    <% if user_signed_in? %>
      <%= link_to "Hello<#{current_user.nickname}>さん！！", used_money_path(@used_moneys.ids), class: :greeting__link%> 
      <div class="user_nav grid-6">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "Used Money", new_used_money_path %>
        <%= link_to "Purchase History", used_money_path(@used_moneys.ids) %>
      </div>
    <% else %>
      <div class="user_nav">
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
    <% end %>
    
    <div class="this_month_title" >
      <%= "<< #{@this_month} >>" %>
        <div class="month_total">
        <%= "<< 今月(#{@this_month})は total => #{@total.sum}  yen使いました >>" %>
        </div>
    </div>
    <% @used_moneys.each do |used_money| %>
    <% if (@this_month.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </body>
</html>


