<h1>お金管理アプリ</h1>
<% if user_signed_in? %>
  <%= link_to "Hello<#{current_user.nickname}>さん！！", root_path, class: :greeting__link%> 
  <div class="user_nav grid-6">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
     <%= link_to "Used Money", new_used_money_path %>
     <%= link_to "Purchase History", root_path %>
  </div>
<% else %>
  <div class="user_nav">
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
<% end %>
