<h1>Purchase History</h1>
<%= link_to "トップページへ", root_path %>
<div class="this_month_title" >
      <%= "<< #{@this_month} >>" %>
    <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 今月(#{@this_month})は total => #{@total.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    </div>
    <% @used_moneys.each do |used_money| %>
    <% if (@this_month.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>
<div class="last_month_title" >
      <%= "<< #{@last_month} >>" %>
    <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 先月(#{@last_month})は total => #{@total_last_month.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    <% @used_moneys.each do |used_money| %>
    <% if (@last_month.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>

<div class="two_month_ago_title" >
      <%= "<< #{@two_month_ago} >>" %>
      <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 2ヶ月前(#{@two_month_ago})は total => #{@total_two_month_ago.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    <% @used_moneys.each do |used_money| %>
    <% if (@two_month_ago.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>

<div class="three_month_ago_title" >
      <%= "<< #{@three_month_ago} >>" %>
      <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 3ヶ月前(#{@three_month_ago})は total => #{@total_three_month_ago.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    </div>
    <% @used_moneys.each do |used_money| %>
    <% if (@three_month_ago.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>

<div class="four_month_ago_title" >
      <%= "<< #{@four_month_ago} >>" %>
      <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 4ヶ月前(#{@four_month_ago})は total => #{@total_four_month_ago.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    <% @used_moneys.each do |used_money| %>
    <% if (@four_month_ago.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>

<div class="five_month_ago_title" >
      <%= "<< #{@five_month_ago} >>" %>
      <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 5ヶ月前(#{@five_month_ago})は total => #{@total_five_month_ago.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    <% @used_moneys.each do |used_money| %>
    <% if (@five_month_ago.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>

<div class="six_month_ago_title" >
      <%= "<< #{@six_month_ago} >>" %>
      <% @used_moneys.first(2).each do |used_money| %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
        <div class="month_total">
          <%= "<< 6ヶ月前(#{@six_month_ago})は total => #{@total_six_month_ago.sum}  yen使いました >>" %>
        </div>
      <% end %>
    <% end %>
    </div>
    <% @used_moneys.each do |used_money| %>
    <% if (@six_month_ago.include?(Date.parse(used_money[:date].to_s))) %>
      <% if user_signed_in? && current_user.id == used_money.user_id %>
      <div class="used_money">
        <div class="money_date">
          <%= "When : #{used_money.date}" %>
        </div>
        <div class="money_location">
          <%= "Where : #{used_money.location}" %>
        </div>
        <div class="money_what">
          <%= "What : #{used_money.what}" %>
        </div>
        <div class="money_how_much">
          <%= "Howmuch : #{used_money.how_much}" %>
        </div>
        <div class="money_way.name">
          <%= "Way : #{used_money.way.name}" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
</div>